<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title></title>
</head>
<body>
          
<header>
         <div class="container container-nav">
            <div class="site-title">
               <h1>Living The Social Life</h1>
               <p class="subtitle">A blog exporting minimalism in life</p>
            </div>
            <nav>
               <ul>
                  <li><a href="home.html" class="">Home</a></li>
                  <li><a href="" class="current-page">Blog</a></li>
                  <li><a href="about.html">About me</a></li>
                  <li><a href="recent.html">Recent posts</a></li>
               </ul>
            </nav>
         </div>
      </header>
</body>
</html>